mixin infoList()
  .column.empty-table
    .border-box.has-text-centered
      .content-info There are no content available
      .create-text Create your first content to be able to retrieve data from your API
      a.button.is-primary
        span.icon
          i.icomoon-add
        .btn-text Add new