// sorted alphabetically
$alizarin-crimson: #e6282b
$athens-gray-dark: #eeeeef
$athens-gray: #f7f7Fa
$ghost: #cbccd7
$spun-pearl: #a9aabc
$white: #ffffff
$woodsmoke: #111114
$cornflower-blue: #718af4
