{
  "presets": ["@babel/preset-react", "@babel/preset-env", "@babel/preset-typescript"],
  "plugins": ["babel-plugin-styled-components"],
  "only": ["src/", "spec/"],
  "ignore": [
    "src/frontend/assets/scripts/global-bundle.js",
    "src/frontend/assets/scripts/app-bundle.js"
  ]
}