{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "master",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "beta-v7",
      "prerelease": true
    }
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "feat", "scope": "locale", "release": "patch"},
        {"type": "feat", "scope": "small", "release": "patch"},
        {"type": "chore", "scope": "deps", "release": "patch"},
        {"scope": "no-release", "release": false}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git"
  ]
}
