{
  "branches": [
    "+([0-9])?(.{+([0-9]),x}).x",
    "master",
    "next",
    "next-major",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "plugins": [
    ["@semantic-release/commit-analyzer", {
      "preset": "angular",
      "releaseRules": [
        {"type": "feat", "scope": "locale", "release": "patch"},
        {"type": "feat", "scope": "small", "release": "patch"},
        {"type": "chore", "scope": "deps", "release": "patch"},
        {"scope": "no-release", "release": false}
      ]
    }],
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm",
    "@semantic-release/github",
    "@semantic-release/git",
    ["semantic-release-jira-releases-sb", {
      "projectId": "AB",
      "releaseNameTemplate": "v${version}",
      "jiraHost": "kmpgroup.atlassian.net",
      "ticketPrefixes": [ "AB" ],
      "released": true,
      "setReleaseDate": true
    }],
    [
      "semantic-release-slack-bot",
      {
        "notifyOnSuccess": true,
        "notifyOnFail": false
      }
    ]
  ]
}
