extends ../layout/layout
include ../mixins/form-group
include ../mixins/breadcrumb

block content
  +breadcrumb([database.name(), model.name()])
  section.view-edit
    form(method='POST' action=h.showInstanceUrl(database, model, instance))
      .level
        h3.title Edit #{model.name()}
        .field.is-grouped
          .control
            a.button(href=h.listUrl(database, model))
              span.icon.is-small
                i(class="fas fa-angle-left")
              .btn-text Back
          .control
            button.button.is-primary(type='submit')
              span(class="icon is-small")
                i(class="fas fa-check")
              .btn-text Save
          .control
            a.button(href=h.deleteInstanceUrl(database, model, instance))
              span.icon.is-small
                i(class="fas fa-trash")
              .btn-text Remove
      .box
        for prop in properties.filter(p => p.isEditable())
          - error = instance.error(prop.name())
          - value = instance.param(prop.name())
          +formGroup(prop, value, error)