extends ../layout/layout
include ../mixins/form-group
include ../mixins/breadcrumb

block content
  +breadcrumb([currentModel.decorate().getModelName(),
                 instance.title(), 'edit'])
  section.view-edit
    form(method='POST' action=h.showInstanceUrl(currentModel, instance))
      .level
        h3.title
          a.button.is-text.is-back(href=h.listUrl(currentModel))
            span.icon.is-small
              i.fas.fa-arrow-left
          | Edit #{currentModel.name()}
        .field.is-grouped
          .control
            button.button.is-primary(type='submit')
              span(class="icon is-small")
                i(class="fas fa-check")
              .btn-text Save
          .control
            a.button.is-primary.is-outlined(href=h.deleteInstanceUrl(currentModel, instance))
              span.icon.is-small
                i(class="fas fa-trash")
              .btn-text Remove
      .box
        for prop in properties.filter(p => p.isEditable())
          - error = instance.error(prop.name())
          - value = instance.param(prop.name())
          +formGroup(prop, value, error)