extends ../layout/layout.pug
include ../mixins/form-group.pug

block content
  h3 #{database.name()}/#{model.name()}
  h4 Create #{model.name()}
  form(method='POST' action=h.listUrl(database, model))
    for prop in properties.filter(p => p.isEditable())
      - error = instance.error(prop.name())
      - value = instance.param(prop.name())
      +formGroup(prop, value, error)
    button.btn.btn-primary(type='submit') Create