.table-list
  & > .column
    padding-left: 0
    padding-right: 0
  .table
    table-layout: fixed
    margin-bottom: 0
    font-size: rem(14px)
    td, th
      padding: rem(14px)
      border-bottom: solid rem(1px) $athens-gray-dark
      vertical-align: middle
    th
      border-bottom: none
      .text-small, a
        font-weight: normal
        color: $ghost
      a
        display: flex
        align-items: center
        &:not(.is-sortable)
          pointer-events: none
          .sorting-icons
            display: none
        i
          margin: 0 rem(5px)
          color: $cornflower-blue
      .text-small.active, path
        color: $cornflower-blue
    tr
      &:hover
        background-color: $athens-gray
      td:not(:first-child)
        color: $storm-gray
      td:first-child
        font-weight: 500
      td:last-child
        text-align: right
        color: $ghost
    td
      word-break: break-all
    thead tr:hover
      background: none

  .dropdown-menu
    transition: all 0.5s
    display: block
    opacity: 0
    overflow: hidden
    height: 0

  .dropdown:hover .dropdown-menu
    opacity: 1
    height: auto

  @include media-breakpoint-down($media-min-tablet-width - 1px)
    .level .is-grouped
      margin-top: rem(14px)
    th:not(.main)
      display: none
    .table td
      padding: 0
      &:not(.property-main)
        display: none
    .property-main a
      padding: rem(14px)
      display: block
