.sidebar-footer
  //- @todo this will be unncommented after adding custom pages feature
  //- 
  //- p.menu-label Header
  //- ul.menu-list
  //-   li
  //-     a Postcode changes
  //-   li
  //-     a Links
  - if h.branding.softwareBrothers
    p.sidebar-created-by
      | With
      i.fas.fa-heart
      | by
      a(href="http://softwarebrothers.co" target="_blank") SoftwareBrothers