p.menu-label Navigation
ul.menu-list
  for modelList, key in models
    li
      span.menu-item-main
        = key
      ul.menu-list
        for model in modelList
          li
            a(href=h.listUrl(model) class={ 'is-active' : currentModel && currentModel.id() === model.id() })
              = model.decorate().getModelName()
