.sidebar-content
  .sidebar-top
    a.sidebar-brand(href=h.dashboardUrl())
      img(src=h.branding.logo height="35px" width="35px")
      span= h.branding.companyName
    include navigation
  include footer