.sidebar-content
  .sidebar-top
    .sidebar-brand
      //- TODO change to real company name and logo
      img(src="https://softwarebrothers.co/assets/images/software-brothers-logo-compact.svg" height="35px" width="35px")
      span Company name
    include navigation
  include footer