nav.navbar
  .navbar-menu
    .navbar-end
      //- TODO: After MVP
      //- .navbar-item
      //-   i.fas.fa-search
      //- .navbar-item
      //-   i.fas.fa-bell
      //- .navbar-item
      //-   i.fas.fa-cog
      .navbar-item.navbar-user
        | Wojtek
        img(src="https://api.adorable.io/avatars/60/softwarebrothers.png")