nav.navbar
  .navbar-menu
    .navbar-end
      //- TODO: After MVP
      //- .navbar-item
      //-   i.fas.fa-search
      //- .navbar-item
      //-   i.fas.fa-bell
      //- .navbar-item
      //-   i.fas.fa-cog
      if currentAdmin
        .navbar-item.navbar-user
          = currentAdmin.email
          img(src="https://api.adorable.io/avatars/60/softwarebrothers.png")
          a.button.is-white(href=h.logoutUrl())
            .btn-text Logout