nav.navbar
  .navbar-menu
    .navbar-end
      //- TODO: After MVP
      //- .navbar-item
      //-   i.fas.fa-search
      //- .navbar-item
      //-   i.fas.fa-bell
      //- .navbar-item
      //-   i.fas.fa-cog
      if currentAdmin
        .navbar-item.navbar-user
          span.current-admin= currentAdmin.email
          img(src="https://api.adorable.io/avatars/24/softwarebrothers.png")
          a.button.is-text.is-logout(href=h.logoutUrl())
            i.fas.fa-sign-out-alt