extends ../layout/layout

block content
  .dashboard
    .header
      != dashboard.header
    .columns.is-multiline.dashboard-content
      != dashboard.content
    if dashboard.charts
      script.
        const chartsModel = !{JSON.stringify(dashboard.charts)}