extends ../layout/layout

block content
  .dashboard
    if dashboard.title || dashboard.subtitle
      .header
        .overview
          .columns
            .column
              if dashboard.title
                .overview-title=dashboard.title
              if dashboard.subtitle
                .overview-subtitle=dashboard.subtitle
    .dashboard-content
      != dashboard.content
