doctype html
html
  head
    title AdminBro - #{title}
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    block scripts
      link(rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css")
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-mfizz/2.4.1/font-mfizz.min.css")
      link(rel="stylesheet" href="frontend/assets/style.min.css")
  body
    section.login-section.hero.is-fullheight
      .hero-body
        .container
          .column.is-8-tablet.is-offset-2-tablet.is-6-desktop.is-offset-3-desktop.is-4-widescreen.is-offset-4-widescreen
            .border-box
              .login-header.has-text-centered
                h3.title Login
                p Please login to proceed.
                if errorMessage
                  .notification.is-danger= errorMessage
              .spacer
              form(action=action method="POST")
                .field
                  label.label Email
                  .control
                    input.input(name='email' type='email', placeholder='Your Email', autofocus='')
                .field
                  label.label Password
                  .control
                    input.input(name='password' type='password', placeholder='Your Password')
                button.button.is-primary.is-fullwidth Login