extends ../layout/layout.pug
include ../mixins/breadcrumb

block content
  +breadcrumb(currentResource)
  section.view-edit
    form(method='POST' action=h.listUrl(currentResource))
      .level
        h3.title
          a.button.is-text.is-back(href=h.listUrl(currentResource))
            span.icon.is-small
              i.icomoon-pagination-left
          | Create #{currentResource.decorate().getResourceName()}
        .field.is-grouped
          .control
            button.button.is-primary(type='submit')
              span(class="icon is-small")
                i.icomoon-save
              .btn-text Save
      .box
        for prop in currentResource.decorate().getEditProperties()
          .field!= prop.renderEdit(record)