extends ../layout/layout
include ../mixins/breadcrumb
include ../mixins/confirmDialog
include ../mixins/action-control

block content
  secton.show-details
    +breadcrumb(resource, record, action.label)
    .level
      h3.title
        a.button.is-text.is-back(href=h.listUrl(resource))
          span.icon.is-small
            i.icomoon-pagination-left
        = action.label
      .field.is-grouped
        for otherAction in resource.decorate().recordActions(record)
          unless otherAction.name === action.name
            +action-control(otherAction, h.recordActionUrl(resource, otherAction, record))
    != actionOutput