@font-face {
	font-family: 'icomoon';
	src: url("icomoon.eot");
	src: url("icomoon.eot#iefix") format("embedded-opentype"), url("icomoon.ttf") format("truetype"), url("icomoon.woff") format("woff"), url("icomoon.svg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-save:before {
	content: "\e914";
}

.icomoon-calendar:before {
	content: "\e900";
}

.icomoon-close:before {
	content: "\e901";
}

.icomoon-collections:before {
	content: "\e902";
}

.icomoon-dropdown-open:before {
	content: "\e903";
}

.icomoon-dropdown-close:before {
	content: "\e904";
}

.icomoon-edit:before {
	content: "\e905";
}

.icomoon-eye:before {
	content: "\e906";
}

.icomoon-export:before {
	content: "\e907";
}

.icomoon-filter-down:before {
	content: "\e908";
}

.icomoon-general:before {
	content: "\e909";
}

.icomoon-info:before {
	content: "\e90a";
}

.icomoon-moon:before {
	content: "\e90b";
}

.icomoon-notifications:before {
	content: "\e90c";
}

.icomoon-options:before {
	content: "\e90d";
}

.icomoon-pagination-left:before {
	content: "\e90e";
}

.icomoon-pagination-right:before {
	content: "\e90f";
}

.icomoon-add:before {
	content: "\e910";
}

.icomoon-profile:before {
	content: "\e911";
}

.icomoon-remove-2:before {
	content: "\e912";
}

.icomoon-remove:before {
	content: "\e913";
}

.icomoon-search:before {
	content: "\e915";
}

.icomoon-settings:before {
	content: "\e916";
}

.icomoon-sun:before {
	content: "\e917";
}