- action = record.resource.decorate().recordActions(record).find(a => a.name === 'show')
if property.isTitle() && action
  a(href=h.recordActionUrl(record.resource, action, record))= value
else
  = value