mixin breadcrumb(elements)
  nav.breadcrumb(aria-label="breadcrumbs")
    ul
      for element in elements
        li(class={ 'is-active' : elements.indexOf(element) === elements.length - 1 })
          a=element