mixin emptyTable(addNewHref)
  .column.empty-table
    .box.has-text-centered
      .content-info There are no content available
      .create-text Create your first content to be able to retrieve data from your API
      a.button.is-primary(href=addNewHref)
        span(class="icon is-small")
          i(class="fas fa-plus")
        .btn-text Add new