//- .filter
//-   label.label 
//-     = h._.startCase(property.name())
//-     |  contains:
//-   .select
//-     select.input.filter(name=filterKey)
//-       option(value='') All
//-       option(value='true') Yes
//-       option(value='false') No