mixin breadcrumb(resource, record, actionName)
  nav.breadcrumb(aria-label="breadcrumbs")
    ul
      if resource
        li(class={ 'is-active' : !record })
          a(href=h.listUrl(resource))=resource.decorate().getResourceName()
      if record
        li(class={ 'is-active' : !actionName })
          a(href=h.showRecordUrl(resource, record))=record.title()
      if actionName
        li.is-active
          a= actionName