mixin confirm-dialog(title, dialogText, btnTitle)
  .confirm-dialog
    .border-box.has-text-centered
      .confirm-title= title
      .content= dialogText
      .confirm-buttons
        a.confirm-accept.button.is-primary= btnTitle
        a.confirm-cancel.button.is-primary.is-transparent Cancel