mixin filtersBar
  - const areFiltersAvailable = Object.keys(filters).length 
  - const props = currentResource.decorate().getListProperties()
  .filters-bar-wrapper
    .filters-bar(class= { 'filters-show' : areFiltersAvailable })
      .filters-close
        .arrow-right
          i.fas.fa-arrow-right
        span Filter
      form(method="GET" action=h.listUrl(currentResource))#filters-form
        for prop in currentResource.decorate().getFilterProperties()
          != prop.renderFilter(filters)
        input(type='hidden' name='sortBy' value=sort.sortBy)
        input(type='hidden' name='direction' value=sort.direction)
        button.button.is-primary.apply-changes(type='submit') Apply Changes
        a.clear-button(href=h.listUrl(currentResource))
          .clear Clear filters
      