mixin searchBar
  .border-box.search-bar 
    .columns
      .search.is-3-tablet
        .field.text
          label.label
            .control
              .search-icon.fas.fa-search
              input.input(type='text' placeholder='Search')
      .search.is-3-tablet    
        .field
          label.label(for='dates') Start–end date:
          .control.has-icons-right
            input.input.date-range-picker(type='text' name="dates")
            span.icon.is-small.is-right
              i.icomoon-calendar
      .col-dropdown.is-2-tablet
        .dropdown.is-right.is-hoverable
          .dropdown-trigger
            .sliders
              i.fas.fa-sliders-h
          .dropdown-menu
            .dropdown-content
              - const filters = ['test1', 'test2']
              for filter in filters
                .control.control-checkbox
                  .checkbox-title= filter    
                //- input.checkbox(type="checkbox" checked=value value='true')
                //- a.button.is-white(data-confirm-dialog=remove && action.path href=!remove && action.path)
                //-   span.icon
                //-     i(class=action.icon)
                //-   .btn-text=action.label