.button:not(.is-primary):not(.is-white)
  border-color: $cornflower-blue
  color: $cornflower-blue
.button
  border-radius: rem(2px)
  font-size: rem(12px)
.button.is-primary
  background-color: $cornflower-blue
  &:hover
    background-color: $waikawa-gray
.button.is-primary.is-outlined
  border-color: $cornflower-blue
  color: $cornflower-blue
  &:hover
    background-color: $waikawa-gray
    border-color: $waikawa-gray
.button.is-white.active
  background-color: $cornflower-blue
  color: $white
