.button:not(.is-primary):not(.is-white)
  border-color: $cornflower-blue
  color: $cornflower-blue

.button.is-primary
  background-color: $cornflower-blue
  &:hover
    background-color: $waikawa-gray

