.dropdown
  .dropdown-content
    padding: 1rem
    display: flex
    flex-direction: column

    .button
      width: 100%
      text-align: start
      justify-content: flex-start

    span 
      color: #CBCCD7