.navbar
  border-bottom: 1px solid $athens-gray-dark
  margin-left: -$padding-layout
  margin-right: -$padding-layout
  height: rem(63px)
  .navbar-user
    margin-left: rem(16px)
    img
      border-radius: 50%
      margin-left: 0.75rem
