.notification
  border-radius: rem(2px)
  padding-top: rem(9px)
  padding-bottom: rem(9px)
  margin: rem(10px) 0
  &.is-danger
    color: $mako
    border: solid rem(1px) rgba($froly, 0.5)
    background-color: rgba($froly, 0.15)
