.table-list
  .pagination
    margin-top: 1rem
    padding: 0.2rem

  .empty-table 
    .content-info
      font-weight: 700
      margin: 1rem 0
    .create-text
      margin: 1rem 0 2rem 0
    .box 
      padding-top: 5rem
      padding-bottom: 5rem