.sidebar-main, .sidebar-content
  flex-basis: 300px
  width: 300px

.sidebar-main
  position: relative
  
  .sidebar-content
    height: 100vh
    border-right: 1px solid #EEEEEF //Temp
    padding: 24px 24px 12px
    overflow-y: auto
    position: fixed
    display: flex
    flex-direction: column
    justify-content: space-between

    .sidebar-brand
      display: flex
      align-items: center
      margin-bottom: 24px
      img
        margin-right: 15px
