$sidebar-width: 19rem

.sidebar-main
  padding: 1.5rem 1.5rem 0.75rem
  flex-basis: $sidebar-width
  width: $sidebar-width
  height: 100%
  display: flex
  flex-direction: column
  justify-content: space-between
  border-right: 1px solid #EEEEEF //Temp
  .sidebar-brand
    display: flex
    align-items: center
    margin-bottom: 1.5rem
    img
      margin-right: 1rem
