.pagination-content
  margin-top: rem(30px)
  .pagination
    height: rem(38px)
    border-radius: rem(2px)
    border: solid 1px $athens-gray-dark
    background-color: $white

    a
      height: rem(32px)
      width: rem(32px)

      &.disabled 
        opacity: 0.5
        pointer-events: none

      @include media-breakpoint-down($media-min-tablet-width - 1px)
        &.pages 
          display: none
        &.current-page 
          display: flex
