.sidebar-navigation
  p.menu-label Navigation
  ul.menu-list
    for resourceList, key in resources
      li
        span.menu-item-main
          i(class=resourceList.icon)
          = h._.startCase(key)
          i.dropdown-toggle.icomoon-dropdown-open(data-menu=h._.kebabCase(h._.trim(key)))
        ul.menu-list.dropdown-list
          for resource in resourceList
            li
              a(href=h.listUrl(resource) class={ 'is-active' : currentResource && currentResource.id() === resource.id() })
                = resource.decorate().getResourceName()
