.sidebar-desktop.sidebar-mobile
  .sidebar-main
    .sidebar-content
      .sidebar-top
        a.sidebar-brand(href=h.dashboardUrl())
          img(src=h.branding.logo height="35px" width="35px")
          span= h.branding.companyName
        .hamburger
          i.fas.fa-bars.fa-2x
        include navigation
      include footer
