nav.navbar
  .hamburger.hidden
    i.hamburger-icon.fas.fa-bars.fa-2x
  .navbar-menu#navbarBasicExample
    .navbar-start
    .navbar-end
      //- TODO: After MVP
      //- .navbar-item
      //-   i.fas.fa-search
      //- .navbar-item
      //-   i.fas.fa-bell
      //- .navbar-item
      //-   i.fas.fa-cog
      if currentAdmin
        .navbar-item.has-dropdown.is-hoverable.navbar-user
          a.navbar-link
            = currentAdmin.email
            img(src="https://api.adorable.io/avatars/24/softwarebrothers.png")
          .navbar-dropdown
            a.navbar-item(href=h.logoutUrl())
              span.fas.fa-sign-out-alt
              | Sign out
